<div class="container-form">
  <form id="form" action="/" method="POST">
    <h2 class="main-title">Cadastar contato</h2>
    <div class="fill-field">
      <input type="text" name="name" id="name" placeholder="Nome*" />
    </div>
    <div class="fill-field">
      <input type="text" name="age" id="age" placeholder="Idade*" />
    </div>
    <div class="fill-field">
      <input type="number" name="phone" id="phone" placeholder="Telefone*" />
    </div>
    <button type="submit" class="btn-send">Cadastrar contato</button>
  </form>
</div>