@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(#fcb310,#f7cc6f, #e1e1e1);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.container-form, .received-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: auto;
    width: 340px;
    margin: 12px 50px;
    padding: 20px;
    border-radius: 10px;
}

.received-form {
    flex-direction: column;
}

#form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-title {
    color: #000;
    text-align: center;
}

#name,
#age,
#phone {
    width: 298px;
    background-color: transparent;
    border: hidden;
    border-bottom: 1px solid #000000;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    height: 35px;
    margin-top: 15px;
}

input::placeholder {
    color: #a8a8a8;
    font-weight: 700;
}

.text-fixed {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    align-content: flex-start;
    margin: 5px 0 5px 0;
}

.btn-send, .btn-back, .btn-new {
    width: 298px;
    background-color: #3CCC87;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    margin: 15px 0 15px 0;
    cursor: pointer;
}

@media (max-width: 570px) {
    main {
        flex-direction: column;
    }

    .info-description {
        text-align: center;
    }

    .container-form {
        width: 320px;
    }
}

/* --------- Lista de contatos --------- */

.container-list {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    height: auto;
    width: 340px;
    margin: 12px 50px;
    padding: 20px;
    border-radius: 10px;
}

.container-list hr {
    border: 2px solid #373636;
    border-radius: 5px;
}

.container-list a {
    width: 60px;
}

.second-title {
    color: #000;
    margin: 5px 0;
}

.btn-del {
    background-color: #d53016;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    padding: 6px;
    margin: 10px 0 10px 0;
    cursor: pointer;
}